{% extends '@page.html' %}

{% block title %}
Archive or find
{% endblock %}

{% block page %}
    <script>{{sw_js|safe}}</script>
    <div class="w-full h-screen flex flex-col justify-center items-center">
        <div class="logo mt-20">
            <a class="text-3xl">Webpage Saver</a>
        </div>
        <div class="mt-15">
            <form action="/page/search" class="flex flex-col gap-5">
                <input id="global_query" class="w-80 p-2 py-5 md:py-2 pl-5 rounded-md bg-purple-300" placeholder="Find by URL..." type="text" name="q">

                <div class="flex flex-col gap-2 justify-center">
                    <input class="p-2 py-5 md:py-2 rounded-md bg-purple-100 cursor-pointer" type="submit" value="Find">
                    <input onclick="fastSaveByURL(global_query)" class="w-[100%] p-2 py-5 md:py-2 rounded-md bg-purple-100 cursor-pointer" type="button" value="Save">
                </div>
              
            </form>
        </div>

        <div class="pt-10">
            <ul class="flex flex-col gap-10 md:gap-2 items-center">
                <li><a href="/webdrivers">Webdrivers</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/save/sitemap">Save by sitemap</a></li>
            </ul>
        </div>

        <div class="opacity-30 absolute left-[0%] top-[0%] md:left-[13%] md:top-[unset]">
            <img src="/static/p1.png">
        </div>
        <div class="opacity-30 absolute right-[0%] bottom-[0%] md:right-[13%] md:bottom-[unset]">
            <img src="/static/p2.png">
        </div>
    </div>
{% endblock %}
