<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="/static/funcs.js"></script>
    <script src="/static/save.js"></script>

    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <style type="text/tailwindcss">
      @theme {
        --color-gray-purple: #6750A4;
      }
    </style>

    <style>
      body, span, a {
        overflow-wrap: anywhere;
      }  
    </style>
</head>
<body class="bg-white h-screen">

{% block page %}{% endblock %}

</body>
</html>
