{% extends '@layout.html' %}

{% block body %}
    <table class="bg-violet-200 p-5 border-separate border-spacing-x-5">
        <thead>
            <tr>
                <td>URL</td>
                <td>Content-Type</td>
                <td>Filename</td>
                <td>Downloaded in</td>
            </tr>
        </thead>
        <tbody>
            {% for i in assets %}
            <tr>
                <td>{{i.url}}</td>
                <td>{{i.content_type}}</td>
                <td>{{i.asset.getName()}}</td>

                {% if i.started_at and i.ended_at %}
                    <td>{{i.getDownloadedIn()}}s</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
