{% extends '@layout.html' %}

{% block body %}

<div class="bg-violet-200 p-5 w-full">
    <table class="w-full">
        <thead>
            <tr>
                <td>URL</td>
                <td>Label</td>
                <td class="w-20">Classes</td>
            </tr>
        </thead>
        <tbody>
            {% for i in urls %}

            <tr>
                <td>
                    <a href="/page/{{page.identify}}?mode=url&url={{i.value}}&ignores=on">{{i.value}}</a>
                </td>
                <td>{{i.getShortLabel()}}</td>
                <td>{{', '.join(list(i.class))}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
