{% extends '@layout.html' %}

{% block body %}

<div class="p-5 pl-10 pr-10 pb-10">
    <div class="pb-5">
        <b class="text-2xl">{{page.title}}</b>
    </div>

    <div class="pt-5">
        {% for item in linked %}
            <a title="{{item.url}}" href="/page/{{item.identify}}?mode=meta" class="hover:bg-slate-100 p-2 h-30 w-30 inline-block">
                <img class="w-full" src="{{item.getScreenshotURL()}}">

                <div>
                    <b>{{item.getShortTitle()}}</b>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
