{% extends '@layout.html' %}

{% block body %}

<div class="p-5">
    <form id="changer">
        <input type="hidden" name="mode" value="media">
        <select class="bg-white pt-1 pb-1 pl-5 pr-5" onchange="changer.submit()" name="mmode">
            <option value="" selected>Type</option>
            <option value="all">All</option>
            <option value="img">Images</option>
            <option value="video">Videos</option>
        </select>
    </form>

    <div class="pt-5">
        {% if mmode != 'img' %}
            <table class="w-full bg-violet-200 p-5 border-separate border-spacing-x-5">
                <thead class="text-center p-1">
                    <tr>
                        <td>URL</td>
                        <td class="max-w-20">Tag</td>
                        <td>Alt</td>
                        <td class="w-2"></td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in media %}
                        <tr>
                            <td>
                                <a class="text-sky-700" href="{{i.url}}">{{i.getShortURL()}}</a>
                            </td>
                            <td>{{i.tagName}}</td>
                            <td>{{i.alt or ''}}</td>
                            <td>
                                {% if i.hasLocalURL() %}
                                    <a href="{{i.local_url}}">+</a>
                                {% else %}
                                    <span>-</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="h-100 max-h-100 flex items-center justify-center m-5">
                <a href="" class="min-w-10 min-h-10">
                    <img id="photo_media_page" class="h-auto w-auto" src="" alt="">
                </a>
            </div>
            <div id="photos_slider" class="flex overflow-x-auto overflow-y-hidden max-w-full gap-1 w-[calc(100vw-200px)]">
                {% for i in media %}
                    <div onclick="openPhoto(photo_media_page, event)" class="cursor-pointer shrink-0 w-20 h-20 bg-gray-400 flex items-center justify-center">
                        <img loading="lazy" class="object-contain" src="{{i.local_url or '/static/no_asset.jpg'}}" data-url="{{i.url}}" title="{{i.alt}}" alt="{{i.alt}}">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}
