{% extends '@layout.html' %}

{% block title %}
Invisible tags: {{page.title}}
{% endblock %}

{% block body %}

<div class="p-5">
    <div>
        <b>Metatags</b>

        <table class="bg-violet-200 p-5 border-separate border-spacing-5">
            <thead>
                <tr>
                    <td class="w-30">name</td>
                    <td>content</td>
                    <td class="w-30">property</td>
                </tr>
            </thead>
            <tbody>
                {% for i in metatags %}
                <tr>
                    <td>{{i.name or ''}}</td>
                    <td>{{i.content}}</td>
                    <td>{{i.property or ''}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <b>"link"s</b>

        <table class="bg-violet-200 p-5 border-separate border-spacing-x-5">
            <thead>
                <tr>
                    <td>name</td>
                    <td>url</td>
                    <td>type</td>
                </tr>
            </thead>
            <tbody>
                {% for i in links %}
                <tr>
                    <td>{{', '.join(i.rel or '')}}</td>
                    <td>{{i.url}}</td>
                    <td>{{i.type}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <b>Scripts</b>

        <table class="w-full bg-violet-200 p-5 border-separate border-spacing-x-5">
            <thead>
                <tr>
                    <td>URL or text</td>
                </tr>
            </thead>
            <tbody>
                {% for i in scripts %}
                <tr>
                    {% if i.url != None %}
                    <td>{{i.url}}</td>
                    {% else %}
                    <td>
                        <textarea class="min-h-50 w-full bg-white pl-2 pr-2 pt-2">
                            {{str(i.bs_node.decode_contents())}}
                        </textarea>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
