{% extends '@layout.html' %}

{% block body %}

<div class="p-5">
    <div>
        <b>Metatags</b>

        <table class="bg-violet-200 p-5 border-separate border-spacing-x-5">
            <thead>
                <tr>
                    <td>name</td>
                    <td>content</td>
                    <td>property</td>
                </tr>
            </thead>
            <tbody>
                {% for i in metatags %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.content}}</td>
                    <td>{{i.property}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <b>Links</b>

        <table class="bg-violet-200 p-5 border-separate border-spacing-x-5">
            <thead>
                <tr>
                    <td>name</td>
                    <td>url</td>
                    <td>type</td>
                </tr>
            </thead>
            <tbody>
                {% for i in links %}
                <tr>
                    <td>{{i.rel}}</td>
                    <td>{{i.url}}</td>
                    <td>{{i.type}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <b>Scripts</b>

        <table class="bg-violet-200 p-5 border-separate border-spacing-x-5">
            <thead>
                <tr>
                    <td>URL</td>
                </tr>
            </thead>
            <tbody>
                {% for i in scripts %}
                <tr>
                    <td>{{i.url}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
