{% extends '@layout.html' %}

{% block body %}

{% if search_type == 'accurate_url' %}
<div>
    <form action="/page/search">
        <input type="text" name="q" id="url" value="{{q}}">

        <input type="submit" value="search">
    </form>

    <input type="button" onclick="save_submit(document.querySelector('#url').value)" value="save">

</div>
{% endif %}

<div class="flex flex-col gap-5 pl-10 pr-10 pt-5 pb-20">
    {% for i in items %}
    <div class="flex flex-row gap-5">
        <img class="max-h-40 w-20 object-contain" src="/page/screenshot?id={{i.identify}}&file=viewport.jpeg" loading="lazy">

        <div class="flex flex-col">
            <a title="{{i.url}}" href="/page/{{i.identify}}">{{i.title}}</a>

            <div>
                <span class="text-zinc-400">{{i.getReadableTaken()}}</span>
                <span class="text-zinc-300">|</span>
                <a href="/page/{{i.identify}}?mode=meta" class="text-zinc-400">About this page</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
