{% extends '@layout.html' %}

{% block body %}
    <div class="hidden">
    {{search_type}}
    {{count}}
    {{display_mode}}
    </div>

    <div class="pl-10 pr-10 pt-5 pb-20">
        <div>
            {% if search_type == 'empty_search' or search_type == 'keywords_search' %}
                <div>
                    {% if search_type == 'empty_search' %}
                        <b>All available pages ({{count}})</b>
                    {% else %}
                        <b>Search in title</b>
                        <p>"{{q}}"</p>
                    {% endif %}
                </div>
            {% endif %}

            {% if search_type == 'accurate_url' or search_type == 'domain_search' %}
                <div>
                    {% if search_type == 'domain_search'%}
                        <b>Domain:</b>
                    {% endif %}
                    <div>
                        <b>{{url[0:1000]}}</b>
                    </div>
                    <div>
                        {% if selected_day == None or selected_month == None %}
                            {% if display_mode == 'calendar' %}
                                <a href="?q={{quote(current_url.query.get('q'))}}">As list</a>
                            {% else %}
                                <a href="?q={{quote(current_url.query.get('q'))}}&display_mode=calendar">As calendar</a>
                            {% endif %}
                        {% endif %}
                        
                        <span class="text-xl">
                            {% if selected_day %}
                                {{selected_day.get('date')}}
                            {% endif %}
                            {% if selected_month %}
                                {{selected_month.get('month_name')}} of {{selected_month.get('year')}}
                            {% endif %}
                        </span>
                    </div>
                </div>
            {% endif %}

            {% if count == 0 %}
                <div class="flex flex-col pr-10 pt-5 pb-20">
                    {% if search_type == 'empty_search' %}
                        <div>No pages were archived.</div>
                    {% else %}
                        <div>Nothing found!</div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div>
        {% if display_mode == 'mini' %}
            <div id="mini_list" class="grid grid-cols-[1fr_0fr]">
                <div class="min-w-0 truncate">
                {% for i in items %}
                    <div onmouseover="hover_search(event)" data-id="{{i.identify}}" data-url="{{i.url}}" data-screenshot="{{i.getScreenshotURL()}}">
                        <img loading="lazy" src="{{i.getFavicon()}}" class="inline-block w-4 object-contain">

                        <a href="/page/{{i.identify}}?mode=meta">{{i.getShortTitle(60)}}</a>
                        {% if selected_day %}
                            <span>{{i.getReadableTaken(with_day = False)}}</span>
                        {% endif %}
                        {% if selected_month %}
                            <span>{{i.getReadableTaken()}}</span>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>

                <div class="w-50">
                    {% if count > 0 %}
                    <div class="sticky top-10 wrap-anywhere flex flex-col gap-5">
                        <a id="page_id">
                            <img src="/static/not_selected.jpg" class="h-30 object-contain" id="hover_img">
                        </a>
                        <span id="hover_url" class="text-sm"></span>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if display_mode == 'items' %}
            <div class="flex flex-col pr-10 pt-5 pb-20">
                {% for i in items %}
                    <div class="flex flex-row gap-5">
                        <img class="max-h-40 w-20 object-contain" src="/page/screenshot?id={{i.identify}}&file=viewport.jpeg" loading="lazy">

                        <div class="flex flex-col">
                            <a title="{{i.url}}" href="/page/{{i.identify}}">{{i.title}}</a>

                            <div>
                                <span class="text-zinc-400">{{i.getReadableTaken()}}</span>
                                <span class="text-zinc-300">|</span>
                                <a href="/page/{{i.identify}}?mode=meta" class="text-zinc-400">About this page</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if display_mode == 'calendar' %}
        <div>
            <div id="years" class="pb-5">
                {% for year_id, itm in items.get('years').items() %}
                    <a class="inline-block pt-1 pb-1 pl-2 pr-2 {% if year == year_id %} bg-green-200{% else %} bg-zinc-200 hover:bg-zinc-100{% endif %}" href="?q={{quote(current_url.query.get('q'))}}&display_mode=calendar&year={{year_id}}">
                        <span>{{year_id}}</span>

                        <span style="font-size: 14px; margin-left: 10px;">
                            {{ itm.total_records_in_year }}
                        </span>
                    </a>
                {% endfor %}
            </div>
            {% if year %}
                <div id="months" class="grid grid-cols-[1fr_1fr_1fr] gap-5">
                    {% for id, month in items.get('years').get(year).get('months').items() %}
                        <div class="month">
                            <div class="{% if month.get('total_records') > 0 %}has-records{% endif %}">
                                <a href="?q={{quote(current_url.query.get('q'))}}&display_mode=calendar&year={{year}}&month={{id}}" >
                                    {{month.get('month_name')}}
                                    {% if month.get('total_records') > 0 %}
                                        <span style="font-size: 11px;">({{ month.get('total_records') }})</span>
                                    {% endif %}
                                </a>
                            </div>

                            <div class="pt-5 days grid grid-cols-[repeat(9_,1fr)] gap-[1px_1px]">
                            {% for day_num, day_data in month.get('days').items() %}
                                {% set count = month.get('days').get(day_num).get('records_count') %}
                                <a class="leading-5 text-xs inline-flex items-center justify-center day-cell 
                                max-h-[20px]
                                max-w-[20px]
                                h-[20px]
                                w-[20px]
                                {% if month.get('days').get(day_num).get('has_records') == False %}hover:bg-gray-100{% else %}
                                has-records bg-green-200 hover:bg-green-300
                                {% endif %}
                                {% if count == 4 %}p-1{% endif %}
                                " 
                                href="?q={{quote(current_url.query.get('q'))}}&display_mode=calendar&year={{year}}&month={{id}}&day={{day_num}}" class="inline-block day-cell has-records">
                                    {{ day_num }}
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endif %}
        </div>
    </div>

{% endblock %}
