{% extends '@layout.html' %}

{% block body %}
    <div id="download_w" class="p-5">
        <div class="pl-5 pb-5">
            <b>Webdrivers</b>
                <div class="pt-5">
                <a href="javascript:downloadWebdriver()">
                    <input class="p-5 bg-slate-400 cursor-pointer text-white font-bold py-2 px-2 rounded" type="button" value="Download latest chromedriver">
                </a>
            </div>
        </div>
        <div class="grid grid-cols-[1fr_0fr] gap-5">
            <div id="items" class="flex flex-col gap-2">
                {% for item in items %}
                <div class="rounded hover:bg-slate-300 cursor-pointer p-5 grid grid-cols-[0fr_1fr] gap-4 justify-between">
                    <div class="flex flex-col w-100">
                        <div class="flex flex-col">
                            <span>{{item.webdriver_type}}</span>
                            <span>{{item.version}}</span>
                        </div>
                    </div>

                    <div class="flex flex-col">
                        {% if item.id == current_index %}
                            <span>Is default</span>
                        {% else %}
                            <a class="text-black-200" href="javascript:make_webdriver_default({{item.id}})">Make default</a>
                        {% endif %}

                        <a class="text-black-200" href="javascript:delete_webdriver({{item.id}})">Delete</a>

                        <div>
                            {% if item.is_running %}
                                <span>Now running.</span>
                                <a href="javascript:stopWebdriver({{item.id}})">(stop)</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
